{% extends 'blog/base.html' %}
{% load static %}

{% block page-content %}
    <div class="content-wrap">
        <div id="content" class="content">
            <section id="posts" class="posts-collapse">
                <span class="archive-move-on"></span>
                <span class="archive-page-counter"> 很好! 目前共计 {{ article_list|length }} 篇日志。 继续努力。 </span>

                {% load paginate_tags %}
                {% paginate article_list %}
                {% for article in article_list %}
                    {% ifchanged %}
                        <div class="collection-title">
                            <h2 class="archive-year motion-element"
                                style="opacity: 1; display: block; transform: translateX(0px);">
                                {{ article.created_time|date:"Y" }}</h2>
                        </div>
                    {% endifchanged %}
                    <article class="post post-type-normal"
                             style="opacity: 1; display: block; transform: translateY(0px);">
                        <header class="post-header">
                            <h2 class="post-title"><a
                                    class="post-title-link"
                                    href="{% url 'app:article-detail' article.pk %}">
                                <span>{{ article.title }}</span>
                            </a></h2>
                            <div class="post-meta">
                                <time class="post-time"> {{ article.created_time |date:"m-d" }} </time>
                            </div>
                        </header>
                    </article>
                {% endfor %}
            </section>
            {% include 'blog/units/pagination.html' %}
        </div>
    </div>
{% endblock %}