{% extends 'blog/base.html' %}
{% load static %}

{% block page-content %}

  <div class="main-inner">
   <div class="content-wrap">
    <div id="content" class="content">
     <section id="posts" class="posts-collapse">
      <span class="archive-move-on"></span>
      <span class="archive-page-counter"> 很好! 目前共计 95 篇日志。 继续努力。 </span>
      <div class="collection-title">
       <h2 class="archive-year motion-element" id="archive-year-2018" style="opacity: 1; display: block; transform: translateX(0px);">2018</h2>
      </div>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/04/elasticsearch-translog.html" itemprop="url"> <span itemprop="name">Elasticsearch translog文件介绍</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-04-24T15:38:32+08:00" content="2018-04-24"> 04-24 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/04/mysql-settings.html" itemprop="url"> <span itemprop="name">MySQL常用参数列表</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-04-12T15:38:32+08:00" content="2018-04-12"> 04-12 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/04/final-reference.html" itemprop="url"> <span itemprop="name">慎用java的finalize方法</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-04-04T15:38:32+08:00" content="2018-04-04"> 04-04 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/02/the-missing-stacktrace.html" itemprop="url"> <span itemprop="name">JVM解惑:消失的异常堆栈</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-02-04T15:38:32+08:00" content="2018-02-04"> 02-04 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/01/next-chat.html" itemprop="url"> <span itemprop="name">Hexo博客添加在线联系功能</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-01-29T20:38:32+08:00" content="2018-01-29"> 01-29 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/01/jvm-card-table-turning.html" itemprop="url"> <span itemprop="name">JVM调优:CardTable简介</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-01-28T00:38:32+08:00" content="2018-01-28"> 01-28 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/01/btrace-introduce.html" itemprop="url"> <span itemprop="name">btrace动态追踪技术解析</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-01-26T13:38:32+08:00" content="2018-01-26"> 01-26 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/01/gatling.html" itemprop="url"> <span itemprop="name">性能测试Gatling入门教程</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-01-23T13:38:32+08:00" content="2018-01-23"> 01-23 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/01/jmh-test-guide.html" itemprop="url"> <span itemprop="name">使用JMH微基准测试一切</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-01-20T13:38:32+08:00" content="2018-01-20"> 01-20 </time>
        </div>
       </header>
      </article>
      <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
       <header class="post-header">
        <h2 class="post-title"> <a class="post-title-link" href="https://www.ezlippi.com/blog/2018/01/safepoint.html" itemprop="url"> <span itemprop="name">JVM安全点介绍</span> </a> </h2>
        <div class="post-meta">
         <time class="post-time" itemprop="dateCreated" datetime="2018-01-15T13:38:32+08:00" content="2018-01-15"> 01-15 </time>
        </div>
       </header>
      </article>
     </section>
     <nav class="pagination">
      <span class="page-number current">1</span>
      <a class="page-number" href="https://www.ezlippi.com/archives/page/2/">2</a>
      <span class="space">…</span>
      <a class="page-number" href="https://www.ezlippi.com/archives/page/10/">10</a>
      <a class="extend next" rel="next" href="https://www.ezlippi.com/archives/page/2/"><i class="fa fa-angle-right"></i></a>
     </nav>
    </div>
   </div>
  </div>

{% endblock%}