<!DOCTYPE html>
{% load static %}

<html class="theme-next mist use-motion" lang="zh-Hans">

{% block header %}
    {% include 'blog/units/header.html' %}
{% endblock %}

{% block body %}
    <body class="pace-done">

        {% block progressbar %}
            {% include 'blog/units/progress-bar.html' %}
        {% endblock %}

        <div class="container one-collumn sidebar-position-right page-home">

            {% include 'blog/units/content-header.html' %}

            <main id="main" class="main">
                <div class="main-inner">
                    {% block page-content %} {% endblock %}
                </div>
                {% block sitebar %}
                    {% include 'blog/units/sidebar.html' %}
                {% endblock %}
            </main>
            {% block footer %}
                {% include 'blog/units/footer.html' %}
            {% endblock %}
        </div>
            {% block script %}
                {% include 'blog/units/script.html' %}
            {% endblock %}
    </body>
{% endblock %}
</html>