<!DOCTYPE html>
{% load static %}

<html class="theme-next mist use-motion" lang="zh-Hans">

{% include 'blog/units/header.html' %}

{% block body %}
    <body lang="zh-Hans" class="pace-done">

    {% include 'blog/units/progress-bar.html' %}

    <div class="container one-collumn sidebar-position-right page-home">

        {% include 'blog/units/content-header.html' %}

        <main id="main" class="main">
            <div class="main-inner">
                {% block page-content %} {% endblock %}
            </div>
            {% block sitebar %}
                {% include 'blog/units/sidebar.html' %}
            {% endblock %}
        </main>

        {% include 'blog/units/footer.html' %}
    </div>

        {% include 'blog/units/script.html' %}
    </body>
{% endblock %}
</html>