{% extends 'blog/base.html' %}
{% load static %}

{% block page-content %}
    <div class="content-wrap">
        <div id="content" class="content">
            <div id="posts" class="posts-expand">
                <article class="post post-type-normal"
                         style="opacity: 1; display: block; transform: translateY(0px);">
                    <header class="post-header">
                        <h2 class="post-title"
                        > {{ article.title }} </h2>
                        <div class="post-meta">
                        <span class="post-time"> <span
                                class="post-meta-item-icon"> <i
                                class="fa fa-calendar-o"></i> </span> <span
                                class="post-meta-item-text">发表于</span> <time
                                title="Post created"
                                datetime="{{ article.created_time }}"> {{ article.created_time }} </time> </span>
                            <span class="post-category"> <span
                                    class="post-meta-divider">|</span> <span
                                    class="post-meta-item-icon"> <i
                                    class="fa fa-folder-o"></i> </span> <span
                                    class="post-meta-item-text">分类于</span> <span> <a
                                    href="{% url 'app:category-detail' article.category.pk %}"
                                    rel="index"> <span>{{ article.category }}</span> </a> </span> </span>
                            <span class="leancloud_visitors"> <span
                                    class="post-meta-divider">|</span> <span
                                    class="post-meta-item-icon"> <i
                                    class="fa fa-eye"></i> </span> <span
                                    class="post-meta-item-text">热度 </span> <span
                                    class="leancloud-visitors-count">{{ article.views }}</span> <span>℃</span> </span>
                            <div class="post-wordcount">
                            <span class="post-meta-item-icon"> <i
                                    class="fa fa-file-word-o"></i> </span>
                                <span class="post-meta-item-text">字数统计</span>
                                <span title="字数统计"> {{ article.words }} </span>
                            </div>
                        </div>
                    </header>
                    <div class="markdown-body">
                        {{ article.body | safe }}
                    </div>
                    <div>
                    </div>
                    <div class="post-tags">
                        {% for tag in tags %}
                            <a href="{% url 'app:tag-detail' tag.pk %}" rel="tag"># {{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <footer class="post-footer">
                        <div>
                            <ul class="post-copyright">
                                <li class="post-copyright-link">
                                    <strong>本文作者：</strong> <a
                                        href="{% url 'app:about' %}">{{ article.author }}</a>
                                </li>
                                <li class="post-copyright-link">
                                    <strong>本文标题：</strong> <a
                                        href="{% url 'app:article-detail' article.pk %}">{{ article.title }}</a>
                                </li>
                                <li class="post-copyright-link">
                                    <strong>本文链接：</strong> <a
                                        href="{% url 'app:article-detail' article.pk %}">{{ article.get_absolute_url }}</a>
                                </li>
                                <li class="post-copyright-date">
                                    <strong>发布时间：</strong>{{ article.created_time }}
                                </li>
                                <li class="post-copyright-license">
                                    <strong>版权声明： </strong>
                                    本文由 {{ article.author }}
                                    原创，转载请保留以上声明信息！
                                </li>
                            </ul>
                        </div>
                        <div class="post-nav">
                            <div class="post-nav-next post-nav-item">
                                {% if prev_article %}
                                    <a href="{{ prev_article.get_absolute_url }}">
                                        <i class="fa fa-chevron-left"></i>
                                        {{ prev_article.title }}
                                    </a>
                                {% else %}
                                    <span class="post-nav-divider">没有啦 --!</span>
                                {% endif %}
                            </div>
                            <span class="post-nav-divider"></span>
                            <div class="post-nav-prev post-nav-item">
                                {% if next_article %}
                                    <a href="{{ next_article.get_absolute_url }}">
                                        <i class="fa fa-chevron-right"></i>
                                        {{ next_article.title }}
                                    </a>
                                {% else %}
                                    <span class="post-nav-divider">没有啦 --!</span>
                                {% endif %}
                            </div>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block sitebar %}
    {% include 'blog/units/detail-sitebar.html' %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $(".markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6").each(function(i,item){
                var tag = $(item).get(0).localName;
                $(item).attr("id","tag-"+i);
                var pad = tag.slice(1, 2) * 2;
                console.log(pad);
                $('<li class="nav-item" style="margin-left: ' + pad + '%"><a class="nav-link" href="#tag-' + i + '"><span class="nav-text">' + $(this).text() + '</span></a></li>').appendTo($("#tag-nav"));
          });
        });
    </script>
{% endblock %}