{% load static %}

<!-- jQuery -->
<script src="{% static 'common/js/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'common/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'mgmt/js/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'mgmt/js/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'mgmt/js/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'mgmt/js/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'mgmt/js/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'mgmt/js/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'mgmt/js/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'mgmt/js/jquery.flot.js' %}"></script>
<script src="{% static 'mgmt/js/jquery.flot.pie.js' %}"></script>
<script src="{% static 'mgmt/js/jquery.flot.time.js' %}"></script>
<script src="{% static 'mgmt/js/jquery.flot.stack.js' %}"></script>
<script src="{% static 'mgmt/js/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'mgmt/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'mgmt/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'mgmt/js/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'mgmt/js/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'mgmt/js/jquery.vmap.min.js' %}"></script>
<script src="{% static 'mgmt/js/jquery.vmap.world.js' %}"></script>
<script src="{% static 'mgmt/js/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'common/js/moment.min.js' %}"></script>
<script src="{% static 'mgmt/js/daterangepicker.js' %}"></script>
<script src="{% static 'mgmt/js/select2.full.min.js' %}"></script>
<script src="{% static 'mgmt/js/switchery.min.js' %}"></script>
<script src="{% static 'mgmt/js/parsley.min.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'mgmt/js/custom.min.js' %}"></script>