<div class="sidebar-toggle">
    <div class="sidebar-toggle-line-wrap">
        <span class="sidebar-toggle-line sidebar-toggle-line-first"
              style="width: 100%; top: 0px; transform: rotateZ(0deg); opacity: 1; left: 0px;"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-middle"
              style="width: 100%; opacity: 1; left: 0px; top: 0px; transform: rotateZ(0deg);"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-last"
              style="width: 100%; top: 0px; transform: rotateZ(0deg); opacity: 1; left: 0px;"></span>
    </div>
</div>
<aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">
        <section class="site-overview sidebar-panel sidebar-panel-active">
            <div class="site-author motion-element">
                <img class="site-author-image"
                     src="{{ blog_meta.owner.profile.avatar.image.url }}"/>
                <p class="site-author-name">{{ blog_meta.owner.username }}</p>
                <p class="site-description motion-element">{{ blog_meta.owner.profile.bio }}</p>
            </div>
            <nav class="site-state motion-element">
                <div class="site-state-item site-state-posts">
                    <a href="{% url 'app:index' %}"> <span
                            class="site-state-item-count">{{ article_count }}</span>
                        <span
                                class="site-state-item-name">日志</span> </a>
                </div>
                <div class="site-state-item site-state-categories">
                    <a href="{% url 'app:category-list' %}"> <span
                            class="site-state-item-count">{{ category_count }}</span>
                        <span
                                class="site-state-item-name">分类</span> </a>
                </div>
                <div class="site-state-item site-state-tags">
                    <a href="{% url 'app:tag-list' %}"> <span
                            class="site-state-item-count">{{ tag_count }}</span>
                        <span
                                class="site-state-item-name">标签</span> </a>
                </div>
            </nav>
            <div class="links-of-author motion-element">
                {% for link in private_links %}
                    <span class="links-of-author-item">
                        <a href="{{ link.url }}" target="_blank">
                            {% if link.icon %}
                                <i class="fa fa-fw fa-{{ link.icon.value }}"></i>
                            {% else %}
                                <i class="fa fa-fw fa-battery-3"></i>
                            {% endif %}
                            {{ link.display }}
                        </a>
                    </span>
                {% endfor %}
            </div>
            <div class="links-of-blogroll motion-element links-of-blogroll-inline">
                <div class="links-of-blogroll-title">
                    <i class="fa fa-fw fa-globe"></i> 友情链接
                </div>
                <ul class="links-of-blogroll-list">
                    {% for link in friendly_links %}
                        <li class="links-of-blogroll-item"><a
                                href="{{ link.url }}"
                                target="_blank">{{ link.display }}</a></li>
                        {% empty %}
                            <li class="links-of-blogroll-item"><a
                                href="#"
                                target="_blank">友链出租</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</aside>
